.element__like {
  background-image: url(../../../images/elements/Vector_like.png);
  background-size: 19px;
  border: none;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 22px;
  height: 19px;
  position: absolute;
  top: 31px;
  right: 30px;
  background-color: white;
  cursor: pointer;
}

.element__like:hover {
  opacity: 0.5;
}
