.profile__info {
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  padding-left: 30px;
  width: 100%;
  max-width: 294px;
  cursor: default;
}

@media (max-width: 390px) {
  .profile__info {
    padding-top: 26px;
    padding-left: 0;
  }
}
