.profile__avatar {
  max-width: 120px;
  border-radius: 100%;
}

@media (max-width: 890px) {
  .profile__avatar {
    max-width: 120px;
  }
}

@media (max-width: 390px) {
  .profile__avatar {
    max-width: 120px;
  }
}
