.profile__info {
  display: grid;
  align-items: center;
  padding-top: 22px;
  padding-left: 30px;
  width: 100%;
  max-width: 294px;
  cursor: default;
}

@media (max-width: 590px) {
  .profile__info {
    padding-top: 26px;
    padding-left: 0;
    justify-content: center;
  }
}
